*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: #000000;
  padding: 12px 10px;
  color: rgb(226, 226, 226);
  font-family: 'Courier New', Courier, monospace;
}
.navbar{
  display: flex;
  align-items: center;
}
.navbar .navbar1{
  height: 60px;
  width: 99.8%;
  /* background-color: rgb(29, 0, 34); */
  border: 1px solid rgba(255, 255, 255, 0.229);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.navbar .navbar1 .nav-inside{
  display: flex;
  gap: 70px;
  margin-right: 100px;
}
.navbar .navbar1 .nav-inside a{
  text-decoration:none;
  font-size: 20px;
  color: rgb(226, 226, 226);
}
.navbar .menu-icon{
  display: none;
}
.home{
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
}
.home img{
  margin-top: 30px;
  width: 80%;
  border-radius: 10px;
}

@media(max-width: 900px){
  .navbar{
    width: 99.999%;
  }
  .navbar .menu-icon{
    display: flex ;
    position: absolute;
    text-decoration:none;
    font-size: 20px;
    color:  rgb(226, 226, 226);
    font-size: 25px;
    margin-left: 20rem;
  }
  .navbar .navbar1 .nav-inside{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 120px 50px;
    display: none;
   } 
 .navbar .navbar1 .nav-inside.active{
    display: flex;
  }
  .home{
  padding-top: 70px;
  font-size: 30px;
  text-align: center;
}
  .home img{
   margin-top: 60px;
   width: 97%;
   border-radius: 10px;
 }
}